In [1]:
import pandas as pd

In [2]:
df_ds000030 = pd.read_csv("./pheno_files/ds000030/participants.tsv", sep="\t")
df_ds000030_mriqc = pd.read_csv("./pheno_files/ds000030/ds030.tsv", sep="\t")

In [3]:
df_ds000030["ghost_NoGhost"].value_counts()

No_ghost    217
ghost        55
Name: ghost_NoGhost, dtype: int64

In [4]:
df_ds000030_mriqc.rater_1.value_counts()

 0    145
-1     75
 1     45
Name: rater_1, dtype: int64

In [5]:
df_ds000030_mriqc.groupby("has_ghost").rater_1.value_counts()

has_ghost  rater_1
0           0         144
            1          45
           -1          28
1          -1          47
            0           1
Name: rater_1, dtype: int64

In [16]:
sub_df_ds000030_ghost = df_ds000030.query("ghost_NoGhost == 'ghost'").participant_id.tolist()
sub_df_ds000030_ghost = list(map(lambda x: int(x.split("-")[-1]), sub_df_ds000030_ghost))

In [7]:
sub_df_ds000030_mriqc_ghost = df_ds000030_mriqc.query("has_ghost == 1").subject_id.tolist()

In [8]:
set(sub_df_ds000030_ghost).difference(sub_df_ds000030_mriqc_ghost)

{'sub-10299',
 'sub-10316',
 'sub-10428',
 'sub-10460',
 'sub-10501',
 'sub-10506',
 'sub-10530',
 'sub-10624',
 'sub-10696',
 'sub-10891',
 'sub-10948',
 'sub-10968',
 'sub-10971',
 'sub-10977',
 'sub-11050',
 'sub-11052',
 'sub-11098',
 'sub-11121',
 'sub-11143',
 'sub-11149',
 'sub-50004',
 'sub-50005',
 'sub-50008',
 'sub-50020',
 'sub-50022',
 'sub-50027',
 'sub-50029',
 'sub-50032',
 'sub-50033',
 'sub-50034',
 'sub-50036',
 'sub-50038',
 'sub-50043',
 'sub-50049',
 'sub-50051',
 'sub-50053',
 'sub-50054',
 'sub-50055',
 'sub-50060',
 'sub-50085',
 'sub-60006',
 'sub-60010',
 'sub-60012',
 'sub-60014',
 'sub-60016',
 'sub-60021',
 'sub-60052',
 'sub-60073',
 'sub-70007',
 'sub-70020',
 'sub-70035',
 'sub-70036',
 'sub-70051',
 'sub-70060',
 'sub-70072'}

In [36]:
df_ds000030_mriqc[df_ds000030_mriqc.subject_id == 70036]

Empty DataFrame
Columns: [subject_id, site, has_ghost, rater_1, cjv, cnr, efc, fber, fwhm_avg, fwhm_x, fwhm_y, fwhm_z, icvs_csf, icvs_gm, icvs_wm, inu_med, inu_range, qi_1, qi_2, rpve_csf, rpve_gm, rpve_wm, size_x, size_y, size_z, snr_csf, snr_gm, snr_total, snr_wm, snrd_csf, snrd_gm, snrd_total, snrd_wm, spacing_x, spacing_y, spacing_z, summary_bg_k, summary_bg_mad, summary_bg_mean, summary_bg_median, summary_bg_n, summary_bg_p05, summary_bg_p95, summary_bg_stdv, summary_csf_k, summary_csf_mad, summary_csf_mean, summary_csf_median, summary_csf_n, summary_csf_p05, summary_csf_p95, summary_csf_stdv, summary_gm_k, summary_gm_mad, summary_gm_mean, summary_gm_median, summary_gm_n, summary_gm_p05, summary_gm_p95, summary_gm_stdv, summary_wm_k, summary_wm_mad, summary_wm_mean, summary_wm_median, summary_wm_n, summary_wm_p05, summary_wm_p95, summary_wm_stdv, tpm_overlap_csf, tpm_overlap_gm, tpm_overlap_wm, wm2max]
Index: []

[0 rows x 72 columns]

Let's build the cmd lines

In [40]:
# with open("./get_ds000030_anat_aws.sh", "w") as f:
#     for subid in sub_df_ds000030_ghost:
#         f.write("aws s3 sync --no-sign-request s3://openneuro.org/ds000030/" + subid + "/anat ds000030-download/" + subid + "\n")

In [7]:
# with open("./mv_mkdir_ds000030_anat_aws.sh", "w") as f:
#     for subid in sub_df_ds000030_ghost:
#         f.write("mkdir ds000030-download/" + subid + "/anat/\n")
#         f.write("mv ds000030-download/" + subid + "/* ds000030-download/" + subid + "/anat/\n")

# Results

In [9]:
df_results = pd.read_csv("ds000030_group_results.csv")

In [17]:
df_results.proba.describe()

count    48.000000
mean      0.507917
std       0.157101
min       0.320000
25%       0.400000
50%       0.470000
75%       0.555000
max       0.910000
Name: proba, dtype: float64

In [20]:
df_results.sort_values("proba")

,subid,proba,t,pred,slices,axes,x_proba,y_proba,z_proba,x_pred,y_pred,z_pred
21,11052.0,0.32,30.88,0.0,"[0, 1, 2, 4, 6, 7, 8, 11, 15, 21, 23, 32, 33, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.34,0.34,0.29,0.0,0.0,0.0
34,10530.0,0.33,31.27,0.0,"[1, 2, 4, 6, 8, 9, 11, 13, 14, 16, 21, 25, 27,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.32,0.34,0.33,0.0,0.0,0.0
16,10977.0,0.34,30.57,0.0,"[3, 5, 6, 7, 11, 13, 16, 17, 18, 21, 24, 27, 4...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.33,0.35,0.35,0.0,0.0,0.0
11,11143.0,0.36,31.01,0.0,"[0, 2, 4, 6, 8, 10, 16, 22, 25, 26, 27, 29, 31...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.31,0.39,0.37,0.0,0.0,0.0
4,11149.0,0.36,30.40,0.0,"[0, 1, 5, 6, 7, 12, 17, 19, 20, 21, 26, 31, 33...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.35,0.39,0.34,0.0,0.0,0.0
3,50034.0,0.37,31.48,0.0,"[1, 2, 3, 7, 8, 10, 11, 15, 22, 23, 25, 29, 30...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.32,0.36,0.42,0.0,0.0,0.0
44,11050.0,0.38,31.70,0.0,"[0, 1, 2, 3, 6, 7, 8, 9, 13, 14, 15, 17, 19, 2...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.39,0.42,0.35,0.0,0.0,0.0
38,50004.0,0.38,30.20,0.0,"[0, 1, 5, 14, 15, 16, 17, 18, 19, 24, 25, 33, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.32,0.42,0.38,0.0,0.0,0.0
31,70051.0,0.39,31.32,0.0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 15, 16,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.35,0.42,0.40,0.0,0.0,0.0
26,50054.0,0.40,29.85,0.0,"[0, 1, 4, 11, 14, 19, 22, 23, 24, 29, 31, 33, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.35,0.46,0.38,0.0,0.0,0.0
15,60016.0,0.40,29.97,0.0,"[2, 4, 5, 7, 10, 17, 18, 22, 24, 26, 32, 34, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.40,0.31,0.50,0.0,0.0,0.0
36,10968.0,0.40,30.51,0.0,"[1, 5, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.38,0.43,0.39,0.0,0.0,0.0
0,70060.0,0.40,29.71,0.0,"[0, 1, 2, 4, 6, 7, 10, 17, 20, 23, 25, 26, 35,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.36,0.45,0.36,0.0,0.0,0.0
2,60012.0,0.40,30.01,0.0,"[0, 1, 2, 3, 4, 5, 11, 12, 17, 23, 25, 27, 28,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.38,0.45,0.37,0.0,0.0,0.0
28,10624.0,0.41,31.45,0.0,"[0, 1, 4, 8, 10, 14, 18, 19, 23, 30, 35, 38, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.45,0.35,0.44,0.0,0.0,0.0
22,10696.0,0.41,31.55,0.0,"[5, 6, 7, 9, 10, 17, 23, 24, 25, 30, 31, 32, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.34,0.53,0.35,0.0,1.0,0.0
37,50055.0,0.42,30.65,0.0,"[2, 5, 7, 8, 11, 14, 19, 21, 23, 24, 28, 30, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.30,0.45,0.47,0.0,0.0,0.0
12,10506.0,0.42,30.65,0.0,"[0, 3, 4, 5, 7, 8, 9, 16, 19, 23, 24, 25, 26, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.38,0.38,0.47,0.0,0.0,0.0
1,50085.0,0.43,30.44,0.0,"[0, 1, 2, 8, 12, 14, 15, 20, 21, 23, 25, 28, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.34,0.49,0.45,0.0,0.0,0.0
17,10316.0,0.44,31.13,0.0,"[1, 2, 4, 5, 8, 10, 11, 15, 17, 27, 30, 31, 32...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.29,0.41,0.57,0.0,0.0,1.0
43,50033.0,0.45,30.37,0.0,"[0, 1, 2, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.38,0.47,0.49,0.0,0.0,0.0
45,60021.0,0.45,30.49,0.0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.39,0.49,0.47,0.0,0.0,0.0
5,50053.0,0.45,30.30,0.0,"[1, 5, 6, 8, 9, 12, 13, 14, 18, 19, 20, 22, 24...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.38,0.45,0.48,0.0,0.0,0.0
23,50043.0,0.47,30.95,0.0,"[0, 1, 2, 3, 5, 8, 9, 10, 11, 16, 17, 20, 21, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.29,0.50,0.58,0.0,0.0,1.0
19,50005.0,0.47,29.24,0.0,"[0, 1, 2, 7, 11, 12, 21, 22, 23, 24, 25, 26, 2...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.52,0.44,0.47,1.0,0.0,0.0
13,50051.0,0.47,30.07,0.0,"[0, 3, 4, 5, 7, 8, 9, 10, 16, 17, 20, 27, 28, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.36,0.49,0.51,0.0,0.0,1.0
27,10891.0,0.48,29.60,0.0,"[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 13, 14, 15, 1...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.43,0.54,0.45,0.0,1.0,0.0
30,50027.0,0.48,30.56,0.0,"[0, 1, 2, 3, 4, 5, 7, 12, 14, 18, 19, 20, 21, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.41,0.52,0.49,0.0,1.0,0.0
7,50036.0,0.48,30.72,0.0,"[0, 1, 2, 3, 4, 8, 9, 10, 11, 21, 22, 26, 30, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.47,0.47,0.51,0.0,0.0,1.0
42,10948.0,0.48,31.04,0.0,"[1, 2, 5, 7, 8, 9, 11, 12, 15, 20, 23, 28, 30,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.34,0.53,0.53,0.0,1.0,1.0
24,60073.0,0.49,31.46,0.0,"[1, 2, 3, 4, 5, 6, 7, 11, 14, 15, 17, 18, 19, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.39,0.51,0.54,0.0,1.0,1.0
46,70072.0,0.50,29.63,0.0,"[0, 1, 2, 3, 6, 9, 10, 12, 17, 22, 27, 28, 30,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.33,0.60,0.51,0.0,1.0,1.0
14,60052.0,0.51,30.63,1.0,"[7, 8, 9, 10, 13, 15, 16, 22, 24, 25, 26, 28, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.39,0.53,0.58,0.0,1.0,1.0
10,10460.0,0.51,30.73,1.0,"[1, 5, 10, 20, 21, 24, 25, 26, 27, 28, 33, 38,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.27,0.53,0.65,0.0,1.0,1.0
18,50020.0,0.52,30.59,1.0,"[0, 1, 2, 3, 4, 8, 10, 12, 13, 15, 16, 17, 18,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.44,0.56,0.53,0.0,1.0,1.0
29,70020.0,0.55,30.40,1.0,"[0, 1, 2, 9, 11, 12, 17, 20, 21, 22, 23, 25, 3...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.47,0.55,0.61,0.0,1.0,1.0
25,50029.0,0.57,30.89,1.0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 15, 18, 22, 30...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.55,0.70,0.45,1.0,1.0,0.0
8,60010.0,0.57,31.06,1.0,"[0, 1, 2, 3, 4, 8, 9, 12, 13, 21, 22, 23, 28, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.59,0.65,0.48,1.0,1.0,0.0
20,60006.0,0.61,29.68,1.0,"[0, 1, 5, 12, 13, 15, 16, 17, 18, 19, 20, 23, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.57,0.69,0.55,1.0,1.0,1.0
35,50008.0,0.67,29.87,1.0,"[2, 3, 5, 6, 7, 9, 11, 12, 14, 15, 16, 32, 47,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.52,0.71,0.73,1.0,1.0,1.0
47,50060.0,0.68,29.71,1.0,"[0, 1, 2, 3, 4, 7, 8, 10, 11, 12, 13, 14, 15, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.75,0.63,0.69,1.0,1.0,1.0
39,70007.0,0.70,30.46,1.0,"[1, 4, 5, 6, 7, 9, 12, 14, 17, 19, 20, 21, 23,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.66,0.71,0.72,1.0,1.0,1.0
41,50049.0,0.71,29.97,1.0,"[0, 1, 2, 3, 4, 5, 8, 10, 14, 15, 19, 23, 27, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.64,0.77,0.69,1.0,1.0,1.0
40,60014.0,0.73,30.66,1.0,"[1, 2, 3, 6, 7, 8, 10, 11, 12, 15, 18, 22, 23,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.61,0.75,0.78,1.0,1.0,1.0
6,11098.0,0.89,30.71,1.0,"[0, 1, 2, 3, 4, 5, 6, 7, 13, 17, 18, 19, 21, 2...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.86,0.88,0.93,1.0,1.0,1.0
9,50038.0,0.91,31.12,1.0,"[0, 1, 2, 3, 4, 5, 6, 10, 13, 16, 17, 19, 20, ...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.88,0.94,0.90,1.0,1.0,1.0
33,50022.0,0.91,30.79,1.0,"[0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 16...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.97,0.90,0.88,1.0,1.0,1.0
32,50032.0,0.91,30.31,1.0,"[2, 3, 4, 5, 6, 7, 10, 14, 15, 17, 18, 19, 20,...","['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', ...",0.94,0.96,0.83,1.0,1.0,1.0