In [1]:
import pandas as pd

In [11]:
df_ds000030 = pd.read_csv("./pheno_files/ds000030/participants.tsv", sep="\t")
df_ds000030_mriqc = pd.read_csv("./pheno_files/ds000030/ds030.tsv", sep="\t")

In [8]:
df_ds000030["ghost_NoGhost"].value_counts()

No_ghost    217
ghost        55
Name: ghost_NoGhost, dtype: int64

In [17]:
df_ds000030_mriqc.rater_1.value_counts()

 0    145
-1     75
 1     45
Name: rater_1, dtype: int64

In [19]:
df_ds000030_mriqc.groupby("has_ghost").rater_1.value_counts()

has_ghost  rater_1
0           0         144
            1          45
           -1          28
1          -1          47
            0           1
Name: rater_1, dtype: int64

In [37]:
sub_df_ds000030_ghost = df_ds000030.query("ghost_NoGhost == 'ghost'").participant_id.tolist()
# sub_df_ds000030_ghost = list(map(lambda x: int(x.split("-")[-1]), sub_df_ds000030_ghost))

In [27]:
sub_df_ds000030_mriqc_ghost = df_ds000030_mriqc.query("has_ghost == 1").subject_id.tolist()

In [28]:
set(sub_df_ds000030_ghost).difference(sub_df_ds000030_mriqc_ghost)

{10299, 10428, 10501, 10971, 11121, 70035, 70036}

In [36]:
df_ds000030_mriqc[df_ds000030_mriqc.subject_id == 70036]

Empty DataFrame
Columns: [subject_id, site, has_ghost, rater_1, cjv, cnr, efc, fber, fwhm_avg, fwhm_x, fwhm_y, fwhm_z, icvs_csf, icvs_gm, icvs_wm, inu_med, inu_range, qi_1, qi_2, rpve_csf, rpve_gm, rpve_wm, size_x, size_y, size_z, snr_csf, snr_gm, snr_total, snr_wm, snrd_csf, snrd_gm, snrd_total, snrd_wm, spacing_x, spacing_y, spacing_z, summary_bg_k, summary_bg_mad, summary_bg_mean, summary_bg_median, summary_bg_n, summary_bg_p05, summary_bg_p95, summary_bg_stdv, summary_csf_k, summary_csf_mad, summary_csf_mean, summary_csf_median, summary_csf_n, summary_csf_p05, summary_csf_p95, summary_csf_stdv, summary_gm_k, summary_gm_mad, summary_gm_mean, summary_gm_median, summary_gm_n, summary_gm_p05, summary_gm_p95, summary_gm_stdv, summary_wm_k, summary_wm_mad, summary_wm_mean, summary_wm_median, summary_wm_n, summary_wm_p05, summary_wm_p95, summary_wm_stdv, tpm_overlap_csf, tpm_overlap_gm, tpm_overlap_wm, wm2max]
Index: []

[0 rows x 72 columns]

Let's build the cmd lines

In [40]:
with open("./get_ds000030_anat_aws.sh", "w") as f:
    for subid in sub_df_ds000030_ghost:
        f.write("aws s3 sync --no-sign-request s3://openneuro.org/ds000030/" + subid + "/anat ds000030-download/" + subid + "\n")